:root {
  --cor-texto-botoes: #ffffff;
  --cor-botoes: #FD1645;
  --cor-primaria: #F1F1F1;
  --cor-secundaria: #000034;
  --cor-terciaria: #FD1645;
  --cor-hover-main: #9c1833;
  --cor-hover-cabecalho: #9c1833;

  --font-titulo: "Poppins", sans-serif;
  --font-texto: "Montserrat", sans-serif;
  --font-texto-botao: "Jost", sans-serif;
}

/* Adicione estilos globais adicionais, se necessário */
body {
  font-family: var(--font-texto);
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  margin: 0;
  padding: 0;
}
