@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-texto-botoes: #ffffff;
  --cor-botoes: #fd1645;
  --cor-primaria: #f1f1f1;
  --cor-secundaria: #000034;
  --cor-terciaria: #fd1645;
  --cor-hover-main: #9c1833;
  --cor-hover-cabecalho: #9c1833;

  --font-titulo: "Poppins", sans-serif;
  --font-texto: "Montserrat", sans-serif;
  --font-texto-botao: "Jost", sans-serif;
}

/* Estilos globais adicionais */
body {
  font-family: var(--font-texto);
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  margin: 0;
  padding: 0;
}
